.dialogBox{
    position: absolute;
    top:35%;
    padding:  1.5vw 1vw;
    /* border-top-right-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 1000;
}
.dialogBox p{
    margin-bottom: 0.8vw;
}
.graphDialog{
    position: absolute;
    top:10%;
    left: 15%;
    background-color: white;
    width: 70%;
    height: 75%;
    border: 1px solid gray;
    padding: 0.3vw;
    z-index: 10000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.graphDialog button{
    position: relative;
    float: right;
    z-index: 100;
}
.generateGraphBtn:hover{
    cursor: pointer;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.779);
    z-index: 99;
  }
  .graphDialog .graph{
    height: 90%;
    width: 80%;
    border-left: 1px solid #656464;
  }
  .graphDialog .toggle{
    height: 100%;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
  }
  .toggle .waterLevel{
    border: 1px gray solid;
    padding: 0.5vw;
  }
  .toggle .weather{
    border: 1px gray solid;
    padding: 0.5vw;
  }
  .toggle .waterLevel:hover{
    cursor: pointer;
  }
  .toggle .weather:hover{
    cursor: pointer;
  }
  .closeBtn{
    height: 100%;
  }